* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #333;
}

#top-bar {
    width: 100%;
    background-color: #333;
    color: white;
    display: grid;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

#title {
    font-size: 24px;
}

.menu-button,
#button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menu-button:hover,
#button:hover {
    background-color: #777;
}

#side-menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #222;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    overflow-y: auto;
}

#side-menu.active {
    left: 0;
}

.menu-list {
    list-style: none;
    padding: 0;
    max-height: 80vh;
    overflow-y: auto;
}

.menu-list li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.menu-list li:hover {
    background-color: #333;
}

#iframe-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#query-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#query-container label {
    margin-right: 10px;
}

#query-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

iframe {
    /* width: 80vw;
    height: 70vh; */
    border: none;
    transition: width 0.3s ease, height 0.3s ease;
    display: block; 
    border-radius: 15px;
}

.card {
    /* width: 300px; */
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* grid-column: span 1;
    grid-row: span 1; */
}
.cardLarge {
    /* width: 300px; */
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* grid-column: span 2; */
}
.cardXL {
    /* width: 300px; */
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* grid-column-start: 3; */
    /* grid-column: span 3;
    grid-row: span 3; */
}

.card h2 {
    margin: 0;
    color: #333;
}

.card p {
    color: #666;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: #333;
    padding: 10px;
}

.grid-container>div {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
